/* RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* See color guide at the bottom*/

/* HEADER SECTION */


/* GROW TOGETHER SECTION */


/* FLOWING CONVERSATION SECTION */


/* YOUR USERS SECTION */

/* FOOTER SECTION */


/*Colors*/

/*
### Primary

- Pink: hsl(322, 100%, 66%) / #ff52bf

### Neutral

- Very Pale Cyan: hsl(193, 100%, 96%) / #ebfbff
- Very Dark Cyan: hsl(192, 100%, 9%) / 	#00252e
- Grayish Blue: hsl(208, 11%, 55%) / 	#808d99
*/